/* ---CSS cho trang danh sách sản phẩm--- */

.filter-bar {
    margin-bottom: 25px;
    padding: 25px;
    border-radius: 40px !important;
    box-shadow: #6b728e 0 0 15px -5px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

@media (max-width: 991px) {
    .product-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 575px) {
    .product-grid{
        grid-template-columns: 1fr;
    }
}